ALLOWED_ORIGINS=["http://localhost"]
DATABASE_URL="postgresql+psycopg2://restaurant:restaurant@db:5432/restaurant"

DB_NAME=restaurant
POSTGRES_USER=restaurant
POSTGRES_PASSWORD=restaurant
DB_HOST=db
DB_PORT=5432


ALLOWED_ORIGINS=["http://localhost"]
DATABASE_URL="postgresql+psycopg2://test:test@db_test:5432/test"
DB_NAME=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test
DB_HOST=db
DB_PORT=5432
SQLALCHEMY_SILENCE_UBER_WARNING=1